<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.transtion.my5th">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mActivity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mActivity.MainActivity" />
        <activity android:name=".mActivity.LoginActivity" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1105203586" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".mActivity.SignActivity" />
        <activity android:name=".DIndividualActivity.MyWallet.DWdqbActivity" />
        <activity android:name=".DIndividualActivity.MyWallet.GWB.DMAgwbActivity" />
        <activity android:name=".DIndividualActivity.MyWallet.Commision.DMAgodActivity" />
        <activity android:name=".DIndividualActivity.MyWallet.DMAtravelActivity" />
        <activity android:name=".DIndividualActivity.MyWallet.DMAcoupon" />
        <activity android:name=".DIndividualActivity.MyWallet.Commision.DMBincomeActivity" />
        <activity android:name=".DIndividualActivity.MyWallet.Commision.DMBgodtixian" />
        <activity android:name=".DIndividualActivity.MyWallet.Commision.DMCgodhisActivity" />
        <activity android:name=".DIndividualActivity.MyWallet.Commision.DMDtxdetailsActivity" />
        <activity android:name=".DIndividualActivity.MyWallet.Commision.DMCReferActivity" />
        <activity android:name=".DIndividualActivity.MyWallet.DMBrechargeActivity" />
        <activity android:name=".DIndividualActivity.MyWallet.DMAinouthis" />
        <activity android:name=".DIndividualActivity.DMBinoutselectActivity" />
        <activity android:name=".DIndividualActivity.Order.DSAllActivity" />
        <activity android:name=".Setting.DSetingActivity" />
        <activity android:name=".Setting.DSnameActivity" />
        <activity android:name=".Setting.ChangehoneActivity" />
        <activity android:name=".Setting.ChangenphoneActivity" />
        <activity android:name=".Setting.ChangeLoginActivity" />
        <activity android:name=".Setting.ForgetcodeActivity" />
        <activity android:name=".Setting.SetpaycodeActivity" />
        <activity android:name=".Setting.MysetingActivity" />
        <activity android:name=".DIndividualActivity.AddressmanagerActivity" />
        <activity android:name=".DIndividualActivity.Addresssave" />
        <activity android:name=".DIndividualActivity.PopulazeActivity" />
        <activity android:name=".DIndividualActivity.CollectActivity" />
        <activity android:name=".DIndividualActivity.Order.OrderdetailsActivity" />
        <activity android:name=".DIndividualActivity.MyWallet.ChonglineActivity" />
        <activity android:name=".DIndividualActivity.ContactListView" />
        <activity
            android:name=".alipay.PayDemoActivity"
            android:icon="@drawable/msp_icon"
            android:label="@string/app_name" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".DIndividualActivity.Order.RecoverActivity" />
        <activity android:name=".DIndividualActivity.Order.OrderselectActivity" />
        <activity
            android:name=".AHomeActivity.TextActivity"
            android:theme="@style/ViewerTheme" />
        <activity android:name=".AHomeActivity.PinpaiActivity" />
        <activity android:name=".BShopcar.ShopcarActivity" />
        <activity android:name=".DIndividualActivity.EvaluateActivity" />
        <activity android:name=".AHomeActivity.SelectActivity" />
        <activity android:name=".AHomeActivity.SelectresultActivity" />
        <activity android:name=".BShopcar.GoodsorderActivity" />
        <activity android:name=".BShopcar.ShouyinActivity" />
        <activity android:name=".alipay.SelectcouponActivity" />
        <activity
            android:name=".wxapi.ShowFromWXActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".wxapi.PayActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name=".BShopcar.FendanActivity" />
        <activity android:name=".AHomeActivity.MessageActivity" />
        <activity android:name=".AHomeActivity.BanderdetailsDActivity" />
        <activity android:name=".DIndividualActivity.TuijianActivity" />
        <activity android:name=".AHomeActivity.MessagedetailActivity" />
        <activity android:name=".BShopcar.LogisticActivity" />
        <activity
            android:name=".AHomeActivity.WebActivity"
            android:label="@string/title_activity_web"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DIndividualActivity.ShimingdetialActivity" />
        <activity android:name=".DIndividualActivity.Shimingshow" />
        <activity android:name=".BShopcar.PayResultActivity" />
        <activity android:name=".BShopcar.PayfalseresultActivity" />
        <activity android:name=".mActivity.TransationActivity" />
        <activity android:name=".DIndividualActivity.MyWallet.Commision.WaitincomeActivity" />
        <activity android:name=".mActivity.BindphoneActivity" />
        <activity android:name=".AHomeActivity.Text4qqtmActivity" />
        <activity android:name=".AHomeActivity.Web4memberActivity"></activity>
    </application>

</manifest>
